@model Zoo.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Animal.Genders>()" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personality" class="control-label"></label>
                <input asp-for="Personality" class="form-control" />
                <span asp-validation-for="Personality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredDiet" class="control-label">Preferred Diet</label>
                <input asp-for="PreferredDiet" class="form-control" />
                <span asp-validation-for="PreferredDiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label">Species</label>
                <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooId" class="control-label">Zoo</label>
                <select asp-for="ZooId" class="form-control" asp-items="ViewBag.ZooId"></select>
                <span asp-validation-for="ZooId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureId" class="control-label">Enclosure</label>
                <select asp-for="EnclosureId" class="form-control" asp-items="ViewBag.EnclosureId"></select>
                <span asp-validation-for="EnclosureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
